.Matches{
  font-family:"Anonymous Pro";
  background-color: #202022;
  padding: 0.1em;
  margin-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  box-shadow: 0px 0px 0px 1px #565555;
}

.scroller {
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171616; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}